/* Navbar.css */
body {
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 15px;
    color: #fff;
  }
  
  .hamburger {
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #3498db;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .nav-links a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    background-color: #2980b9;
  }
  
  .navbar.open .nav-links {
    width: 100vw; /* Open the menu to the full width of the viewport */
  }
  
  /* Move the hamburger icon when menu is open */
  .navbar.open .hamburger {
    transform: translateX(100vw); 
  }
  
  .close-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .close-button:hover {
    background-color: #c0392b;
  }