@media only screen and (min-width:993px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }

  .App-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    flex: 2;
    width: 25%;
    align-items: flex-start;
  }

  .App-mainPage {
    flex: 3;
    margin-left: 25%;
  }

  .myImage{
    transform: scale(300%);
    padding-top: 60%;
    position: sticky;
    z-index: -1;
  }
}