@media only screen and (min-width:993px) {
  .App {
    display: flex;
    flex-wrap: wrap;
  }

  .App-header {
    flex: 2;
    height: 100vh;
    justify-content: flex-start;
  }

  .App-body {
    flex: 3;
    height: 100vh;
  }
}