@media only screen and (min-width:993px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }

  .App-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    flex: 2;
    width: 275px;
    align-items: flex-start;
  }

  .App-mainPage {
    flex: 3;
    margin-left: 275px;
  }

  .myImage{
    transform: scale(300%);
    position: fixed;
    bottom: 75px;
    left: 90px;
    z-index: -1;
  }
}