body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #663399;
}

h4 {
  color: #161616;
}

p {
  font-size: 15px;
  color: #22223b;
}

.card {
  margin-bottom: 1em;
  border: none;
}

.card-header {
  background-color: #e6f3f3;
}

.card-body {
  background-color: #e6f3f3;
}

.project-keywords {
  font-size: small;
}

.project-button {
  border-color: rgb(24, 245, 225);
  color: #7848aa;
  background-color: #ebf6f6;
}

.project-button:hover {
  border: thick solid;
  border-color: rgb(24, 245, 225);
  color: #663399;
  background-color: rgb(24, 245, 225);
}
